<!-- Banner -->
<section id="banner">
    <!-- ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).  -->
    <div class="inner">
        <header>
          <div class="poza">


          <img src="{{site.baseurl}}/images/Banner.jpg" alt="a">
            <h2>Double Ion</h2>
            <p>Personalizare prin <strong>broderie</strong>.</p>
        </header>
          </div>


        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>
