<header id="header">


				<h1 id="logo"><a href="{{site.baseurl}}/index.html">DOUBLE ION</a></h1>
				<nav id="nav">
<ul>
	<li><a href="{{site.baseurl}}/index.html">Acasă</a></li>
  <li class="submeniu"><a href="{{site.baseurl}}/broderie.html">Broderie</a>
		<ul>
			<li><a href="/left-sidebar.html">a1</a></li>
			<li><a href="/right-sidebar.html">a2</a></li>
			<li><a href="/no-sidebar.html">a3</a></li>
			<li><a href="/wfpg.html">a4</a></li>
		</ul>
	</li>
	<li class="submeniu">	<a href="{{site.baseurl}}/echipament.html">Echipament</a>
		<ul>
			<li><a href="/left-sidebar.html">b1</a></li>
			<li><a href="/right-sidebar.html">b2</a></li>
			<li><a href="/no-sidebar.html">b3</a></li>
			<li><a href="/ceva.html">b4</a></li>
			<li class="submeniu">	<a href="{{site.baseurl}}/echipament.html">submeniu</a>
			  	<ul>
				  	<li><a href="/left-sidebar.html">b1</a></li>
				  	<li><a href="/right-sidebar.html">b2</a></li>
				  	<li><a href="/no-sidebar.html">b3</a></li>
				  	<li><a href="/ceva.html">b4</a></li>
				 </ul>
			</li>
		</ul>
	</li>
	<li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
</ul>

</nav>
</header>
