<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{page.title}} · {% endif %}Double Ion</title>
    <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
    <meta name="description" content="{{page.meta}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>








    <header>
      <h1> Double Ion </h1>
    {% include nav.html navclass='nav-top' %}
    </header>
{{content}}
<footer>
{% include nav.html navclass='nav-top' %}
</footer>
  </body>
</html>
